<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style type="text/css">
	body{
	  text-align: center;
	  margin: 200px auto;
	}
</style>
<body>
  <h1>用户/管理员登录界面</h1>
 <h2><a href="admin/">管理员</a></h2>
 <h2><a href="user/">用户</a></h2>   
</body>
</html>