<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
 <h1>管理员登录</h1>
 <form action="/admin/index" method="post">
    <input class="user" type="text" name="user" id="" value="" />
    <input class="pass" type="text" name="pass" id="" value="" />
    <input class="submit" type="submit" name="" id="" value="提交" />    
 </form>
</body>
</html>