{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
  <li><a href="/admin">后台首页</a></li>
  {% if title%}
  <li><a href="{{url}}">{{title}}</a></li>
  {% else%}
  <li><a href="/admin/category">分类管理</a></li>
  {% endif%}
  <li><span>成功提示</span></li>
</ol>
<div class="container" style="margin-top: 20px">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">错误提示:</h3>
		</div>
		<div class="panel-body">
			{% if error %}
			<p  style="color: red">{{error}}</p>
			{% else %}
			<p  style="color: red">请求失败</p>
			{% endif %}
		</div>
		<div class="panel-footer">
			{% if url %}
			<a href="{{url}}">点击跳转</a>
			{% else %}
			<a href="javascript:window.history.back();">返回上一层</a>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}